streamlit==1.8.0
pandas==1.2.0
numpy==1.21.2
scikit-learn==0.22.1
feedparser==6.0.8
matplotlib==3.5.1
gensim==3.8.0
cufflinks==0.17.3
wordcloud==1.8.1
spacy==3.0.0
sumy==0.8.1
click==8.0.1
seaborn==0.11.2
pyLDAvis==3.3.1
scipy==1.7.3
fuzzywuzzy==0.18.0
textblob==0.17.1
textstat==0.7.3
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0.tar.gz
